.container1{

    /* background-image: url("himalayas.jpg"); */
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover;
    font-style: italic;
    color: white;
    /* height: 600px;
    overflow: scroll; */

}
.container1 img{

    border: 10px solid white;
    border-radius: 10px;
    padding: 2px;

}

.container1::-webkit-scrollbar{
    display: none;
}

@media only screen and (max-width: 767px) {
    .container1 {
      padding: 5%;
    }
    img{
        height: 360px;
    }
}

.flex-container {
    display: flex;
    /* gap: 20px; */
    /* border-top: 3px solid black; */
    padding: 2%;
    border: 5px solid white;
    border-radius: 20px;


}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.discrption{

    /* background-color: rgba(20, 3, 3, 0.3); */
    border-radius: 10px;
    padding: 1%;
    margin-bottom: 1%;
}
.discrption p{
    text-align: left;

}

.discrption strong{
    color:  #3d5875;
}
.discrption h5{
    color: gold;
}

.discrption div{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.discrption button{
    border-radius: 8px;
}

@media only screen and (max-width: 768px) {
    #projectDivReverse{
      display:flex;
      flex-direction: column-reverse;
    }
    
}
#line{
    height: 0px;
    border: 2px solid black;
    display: flex;
    justify-content:space-between;
}

@keyframes underline {
    0% {
      transform: scaleX(0);
    }
    50% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0);
    }
}

.headline {
  display: inline-block;
  position: relative;
}

.underline {
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    animation: underline 2s infinite;
    transform-origin: bottom left;
}